/***********************Main*/
.notification__container {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  background-color: #f8f9fa;
}

.notification__btn {
  cursor: pointer;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  appearance: none;
  background-color: transparent;
  outline: none;
}

.notification__btn svg path {
  fill: #222;
}
